# Ficheros pdf
*.pdf

# Ficheros txt
*.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Caches de herramientas de desarrollo
.pytest_cache/
.mypy_cache/
.ruff_cache/
__pycache__/

# Entornos virtuales
venv/
.venv/
env/

# Archivos de configuración secreta
.env

# Distribución / Empaquetado
build/
dist/
*.egg-info/